@media (max-width: 768px) {
  .division__contenido {
    flex-direction: column;
    gap: 5em;
  }

  .contenido__primary {
    align-items: center;
    text-align: center;
    gap: 2em;
  }

  .imagen__front {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 640px) {
  .imagen__front {
    width: 100%;
  }
}
